@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Add smooth transitions for dark mode */
* {
  transition: background-color 0.3s, color 0.3s;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
